{% import "post_preview.html" as post_preview %}
{% extends "base.html" %}

{% block meta %}
<title>Maxwell Beck</title>

<meta property="og:title" content="Maxwell Beck">
<meta property="og:type" content="blog" />
<meta property="og:url" content="{{ current_url }}">
{% endblock %}

{% block content %}
<section class="vcenter">
    <h1>Maxwell Beck</h1>

    <p>
        Hi!
        I'm a programmer from Illinois with interests in computer graphics, music, and retro hardware.
        I am currently studying Computer Science at University of Wisconsin-Madison.
    </p>

    <p>
        Feel free to check out my
        <a href="https://raw.githubusercontent.com/rastertail/resume/master/Resume.pdf">résumé</a>
        and <a href="/blog">blog</a>, or reach me elsewhere with the links at the bottom of the page.
    </p>

    <p>
        <a href="https://files.scene.org/view/parties/2022/revision22/4k-executable-graphics/caustic-dreams.zip">
            <img src="/caustic-dreams.png">
        </a>
        <span class="caption">Showcase: Caustic Dreams, 4kb procedural image</span>
    </p>

    <p class="dim">
        <a href="mailto:max@rastertail.net">Email</a>
        &bull;
        <a href="https://github.com/rastertail">Github</a>
        &bull;
        <a href="https://www.youtube.com/channel/UCVktJ-PN7Kw78R95xyuEYIQ">YouTube</a>
    </p>
</section>

{% endblock content %}
